<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet"
          href="./css/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand"
           href="#">LOLOP</a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarColor01"
                aria-controls="navbarColor01"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse"
             id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link"
                       href="{{ path('homepage') }}">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ path('champions') }}">Champions</a>
                </li>
            </ul>
        </div>
    </nav>{% block body %}{% endblock %}
    
    <script src="./JS/bootstrap4-4-1.min.js"></script>
    <script src="./JS/popper1-16.min.js"></script>
    <script src="./JS/jquery3-4-1.min.js"></script>
    {% block javascripts %}{% endblock %}
</body>

</html>